body {
    display: block;
    color: white;
}

body {
    margin: 0;
    padding: 0;
}

li {
    font-size: 10px;
}

h3 {
    font-size: 20px;
    text-decoration: underline;
}

#mainPageContainer {
    background-image: url("PageAssets/Images/Senua_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#mainPageBody {
    width: 1500px;
    margin: 0px auto;
    background-color: rgb(2, 2, 2);
    display: flex;
    flex-wrap: wrap;
}

#mainPageBody {
    background-color: transparent;
}

.page-section {
    margin-top: 20px;
    margin-left: 25px;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cvNavHeadline {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 30px;
}

#cvNavBar {
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
}

a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rebeccapurple;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rebeccapurple;
    background-color: transparent;
    text-decoration: underline;
}

.custom-a-tag {
    margin-right: 20px;
    background-color: transparent;
    color: rgb(248, 245, 245);
    text-decoration: none;
    font-size: 20px;
}

.card-style-01 {
    width: 100%;
    padding: 20px;
    background-color: transparent;
    margin-top: 25px;
}

.card-style-02 {
    width: 100%;
    padding: 20px;
    background-color: transparent;
}

.cv-page-buttons {
    margin-top: 5px;
    margin-left: 42%;
    color: white;
    height: 50px;
    font-size: 25px;
    border-color: rgba(172, 170, 170, 0.493);
    overflow: hidden;
    background-color: transparent;
}

li {
    font-size: large;
}

.cv-page-buttons:hover {
    box-shadow: 0px 0px 20px rgb(95, 95, 95);
}

.cv-page-buttons:focus {
    outline: none;
}

.source-code-button {
    background-color: transparent;
}

.source-code-button:hover {
    background-color: transparent;
}

p {
    font-size: medium;
    font-weight: bold;
}

.anchored-background-image {
    height: 350px;
    background-repeat: repeat;
    background-attachment: fixed;
}

.anchored-background-image-curtain {
    height: 350px;
    background-color: rgba(95, 95, 95, 0.274);
    background-repeat: repeat;
    background-attachment: fixed;
}

#cvBackgroundImage {
    background-image: url("PageAssets/Images/Senua_background.jpg");
    background-size: 100%;
}

#sourceCodeBackgroundImage {
    background-image: url("PageAssets/Images/Screenshot_1.jpg");
    background-size: 100%;
}

#weatherAppBackgroundImage {
    background-image: url("PageAssets/Images/numtowords.jpg");
    background-size: 100%;
}

#tanksBackgroundImage {
    background-image: url("PageAssets/Images/balloon.jpg");
    background-size: 100%;
}

#calculatorBackgroundImage {
    background-image: url("PageAssets/Images/b7b34565722314800427b98d8f6b567a.jpg");
    background-size: 100%;
}

@media screen and (max-width: 1000px) {
    #mainPageBody {
        width: 100%;
    }
    .cv-page-buttons {
        font-size: 15px;
    }
    .anchored-background-image {
        height: 150px;
        background-repeat: repeat;
        background-attachment: fixed;
    }
    .anchored-background-image-curtain {
        height: 150px;
        background-color: rgba(95, 95, 95, 0.274);
        background-repeat: repeat;
        background-attachment: fixed;
    }
    #cvBackgroundImage {
        background-size: 500px;
    }
    #sourceCodeBackgroundImage {
        background-size: 500px;
    }
    #weatherAppBackgroundImage {
        background-size: 500px;
    }
    #tanksBackgroundImage {
        background-size: 500px;
    }
    #calculatorBackgroundImage {
        background-size: 500px;
    }
}